# Base URL for the main backend API
NEXT_PUBLIC_API_BASE_URL=https://xccm1-backend-eews.onrender.com

# URL for the XCSM decomposition service
NEXT_PUBLIC_XCSM_API_URL=http://localhost:8083/api/xcsm

# URL for the Chatbot API
NEXT_PUBLIC_CHATBOT_API_URL=https://chatbotxccm1.onrender.com/api
